<% provide(:title, @post.title) %>

<div id="post_content">
	<h1 class="title"><%= @post.title %></h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> Ago
		<% if user_signed_in? %>
		| <%= link_to 'Edit', edit_post_path(@post) %> |
		  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
	  	<% end %>
	</p>
	<p class="body"><%= markdown @post.body %></p>

	<div id="share_box">
		<p>Поделиться</p>

		<div id="fb-root"></div>
		<script>
		      (function(d, s, id) {
		        var js, fjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) return;
		        js = d.createElement(s); js.id = id;
		        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
		        fjs.parentNode.insertBefore(js, fjs);
		      }(document, 'script', 'facebook-jssdk'));
		</script>

	    <div class="sharing-platforms">
	    	<a href="https://twitter.com/share" class="twitter-share-button" data-text="&quot;<%= @post.title %>&quot;" data-url="<%= request.original_url %>" data-size="large" data-show-count="false"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<!-- data-via="kexeb" -->
	    	
	    	<div class="vk-share-button">
	    	<a href="https://vk.com/share.php?url=<%= request.original_url %>" target="_blank"><i class="fa fa-vk"></i>Поделиться</a>
	    	</div>

			<!-- 
			<script src="https://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
			<div class="vk-share-button">
				<script type="text/javascript">
					document.write(VK.Share.button(false, {type: 'link', text: 'Поделиться'})); 
				</script>
			</div> -->

			<div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button" data-size="large" data-mobile-iframe="true">
				<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.youngdeveloper.co%2Fposts%2F5&amp;src=sdkpreparse">Поделиться</a>
			</div>

	    </div>
	</div>

	<div id="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>

		<h3>Add a comment:</h3>
		<%= render "comments/form" %>
	</div>
</div>